
.container_resetPassword {
    backdrop-filter: blur(7px) saturate(0%);
    -webkit-backdrop-filter: blur(13px) saturate(0%);
    background-color: rgba(253, 176, 82, 0.5);    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto; 
    max-width: 400px; 
    margin-top: 140px;
}

.header1_resetPassword {
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header5_resetPassword {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.label_resetPassword{
    display: block;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input_resetPassword[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 15px;
}

.input_resetPassword[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 15px;
}

.button_resetPassword {
    background-color: #ba6700;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button_resetPassword:hover {
    background-color:#965300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.error_message {
    color: #713e00;
}
